doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    link(rel="stylesheet", href="style.min.css")
    title gulp-spa-backbone
  body
    aside(id="sidebar")
      ul#section-list.list-group
        li.list-group-item
    #main
      .container
        h1 gulp-spa-backbone
    footer
    script(src="vendor.js")
    script(src="bundle.js")
